@using mvc_energy_plants.Models;

@model Tuple<Project ,List<ProjectStopLog>>

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>Details Project</h3>
    <a class="btn btn-primary" asp-action="Index"><i class="material-icons">arrow_back</i></a>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Item1.Id"><i class="material-icons">mode_edit</i></a>
</div>

<div>

    <hr />
    <div class="row">
        <div class="col">
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.Code)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.Code)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.CustomerName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.CustomerName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.Country)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.Country)
                </dd>

            </dl>
        </div>
        <div class="col">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Item1.PowerGeneration)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Item1.PowerGeneration)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.Longitude)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.Longitude)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.Latitude)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.Latitude)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Item1.StartDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Item1.StartDate)
                </dd>
            </dl>
        </div>
    </div>
</div>


<hr />

<a asp-controller="ProjectStopLogs" asp-action="Create" asp-route-projectId="@Model?.Item1.Id"><i class="material-icons" style="font-size:36px">note_add</i></a>

@if (Model?.Item2 != null)
{
    <div>
        <table id="tble" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().StopDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Classification)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Cause)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Action)
                    </th>
                    <th>

                    </th>

            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StopDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Classification)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cause)</td>
                        <td>@Html.DisplayFor(modelItem => item.Action)</td>

                        <td>


                            <a asp-controller="ProjectStopLogs" asp-action="Edit" asp-route-id="@item.Id"><i style="font-size:1.2em" class="material-icons">mode_edit</i></a>
                            <a asp-controller="ProjectStopLogs" asp-action="Details" asp-route-id="@item.Id"><i style="color:green; font-size:1.2em" class="material-icons">info</i></a>
                            <a asp-controller="ProjectStopLogs" asp-action="Delete" asp-route-id="@item.Id"><i style="color:red; font-size:1.2em" class="material-icons">delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>


}
else
{
    <div>No data</div>
}




@section Scripts{
    <script>
        $("table#tble").Grid();
    </script>
}