@model IEnumerable<mvc_energy_plants.Models.Project>
@using System.Web.Helpers

@{
    ViewData["Title"] = "Index";
}



<table id="indexTable" class="table table-bordered table-hover">



    <a asp-action="Create"><i class="material-icons" style="font-size:36px">note_add</i></a>

    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerGeneration)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PowerGeneration)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>


                    @*<a asp-action="Edit" asp-route-id="@item.Id"><i style="font-size:1.2em" class="material-icons">mode_edit</i></a>*@
                    <a asp-action="Details" asp-route-id="@item.Id"><i style="color:green; font-size:1.2em" class="material-icons">info</i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i style="color:red; font-size:1.2em" class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <canvas id="myChart" height="60"></canvas>
</div>


@section Scripts {
    <script>
        const gg = $("table#indexTable").Grid({
            search: true,
            sort: true,
            resizable: true,
            pagination: {
                limit: 5,
                summary: false
            }
        });

        const ctx = document.getElementById('myChart');
        var data1 = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ChartValue))')
        console.log(data1)
        data1.forEach(x => console.log(x))





        new Chart(ctx, {
            type: 'bar',

            data: {
                labels: data1.map(x => x.year),
                datasets: [{
                    label: 'Operation Year',
                    data: data1.map(x => x.count),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}